#chat-screen {
  height: 300vh;
}

#chat-screen,
#chat-screen .status-bar {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .main-screen {
  margin-top: 10px;
  padding-top: 100px;
}
